<div class="chat-container bg-background flex flex-col h-full">
  <div class="flex flex-row space-x-2">
    <p>{{ activeChannels | json }}</p>
    <p> || Moy. (/r) : </p>
    <app-chat-average-messages [messageStream]="messageNotifierSeek$"></app-chat-average-messages>
    <p> || Moy. (/b) : </p>
    <app-chat-average-messages [messageStream]="messageNotifierSales$"></app-chat-average-messages>
  </div>
  <!-- Filtre des canaux -->
  <app-channel-filter
    (channelToggle)="toggleChannel($event)"
    [activeChannels]="activeChannels">
  </app-channel-filter>

  <!-- Messages -->
  <div (scroll)="onScroll($event)" class="messages-container overflow-y-auto flex-1">
    <app-chat-message
      *ngFor="let message of filteredMessages"
      [message]="message">
    </app-chat-message>
  </div>

  <!-- Notification de nouveaux messages -->
  <div *ngIf="unreadMessages > 0"
       class="new-message-notification fixed bottom-4 right-4 bg-primary text-background px-4 py-2 rounded shadow-lg">
    {{ unreadMessages }} nouveaux messages
    <button (click)="scrollToBottom()" class="ml-2 underline">Voir</button>
  </div>
</div>
