/* Style personnalisé pour la scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
.messages-container {
  @apply flex-1 overflow-y-auto max-h-[70vh]; /* Limite la hauteur à 70% de la hauteur de la fenêtre */
}
