<div class="message flex items-center space-x-3 p-2">
  <!-- Timestamp -->
  <span class="timestamp text-chat-time text-xs flex-shrink-0">
    [{{ message.date | date: 'HH:mm:ss' }}]
  </span>

  <!-- Player Icon and Level -->
  <div class="flex items-center space-x-1 flex-shrink-0">

    <ng-container *ngIf="playerInfo$ | async as playerInfo; else loadingState">
      <img
        [alt]="playerInfo.class"
        [class.loading]="loading"
        [ngSrc]="'/heads/' + (playerInfo.class | lowercase) + '.png'"
        [title]="playerInfo.class"
        class="w-5 h-5 object-contain flex-shrink-0"
        height="20"
        loading="lazy"
        width="20"
      />
      <span class="bg-gray-600 text-gray-200 text-xs px-1.5 py-0.5 rounded flex-shrink-0">
      {{ playerInfo.level ?? '???' }}
    </span>
    </ng-container>

    <!-- Loading State -->
    <ng-template #loadingState>
      <div class="w-5 h-5 animate-pulse bg-gray-600 rounded-full flex-shrink-0"></div>
      <div class="w-8 h-4 animate-pulse bg-gray-600 rounded flex-shrink-0"></div>
    </ng-template>

  </div>

  <!-- Channel, Player Name, and Message -->
  <div class="flex items-center space-x-2">
    <!--<span class="channel text-sm text-chat-time font-medium flex-shrink-0">
      {{ message.channel }}
    </span>-->
    <span
      [ngClass]="'text-chat-channel-' + message.channel.toLowerCase()"
      class="player text-sm font-bold flex-shrink-0"
    >
      {{ message.senderName }}
    </span>
    <span class="content text-sm text-chat-message">
      {{ message.content }}
    </span>
    <ng-container *ngFor="let segment of segments">
      <!-- Affichage du texte brut -->
      <ng-container *ngIf="segment.type === 'text'">
        {{ segment.content }}
      </ng-container>
      <!-- Affichage du composant dynamique pour les tokens -->
      <ng-container *ngIf="segment.type !== 'text'">
        <ng-container *ngComponentOutlet="getComponent(segment.type); inputs: segment.data">
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>
